{{new-post  user=user setFileLocation='setFileLocation'}}
{{#if postForm}}

    <label for="title">title</label>
    {{input type='text' value=title}}

	  <label for="description">description</label>
	  {{input type='text' value=description}}

    <label for="medium">medium</label>
    {{input type='text' value=medium}}


  {{#each category as |category|}}
		{{category.title}}
  {{/each}}




  <label for="category">categories</label>
  {{#x-select value="paintings" action="selectCategory"}}
  	{{#x-option value="paintings"}}paintings{{/x-option}}
  	{{#x-option value="photoshop"}}photoshop{{/x-option}}
  	{{#x-option value="sculpture"}}sculpture{{/x-option}}
  	{{#x-option value="collage"}}collage{{/x-option}}
  	{{#x-option value="video"}}video{{/x-option}}
  	{{#x-option value="code"}}code screenshots{{/x-option}}
		{{#x-option value="written"}}poetry and prose{{/x-option}}
	{{/x-select}}


  <button {{action 'savePost'}}>Save</button>
{{/if}}
