<div class="original-post">
  <img src={{post.img}} alt={{post.description}}><br>
  <div class="post-info">
      <a href{{post.img}} download="post.title">Download</a>
    <div class="postNotes">
      <p>
        Title: {{post.title}}
      </p>
      <p>
        Medium: {{post.medium}}
      </p>
      <p>
        Notes: {{post.description}}
      </p>
    </div>
  </div> <!-- end post-info -->
</div>

  {{response-detail post=post}}
