<div class="original-post">
  <img src={{post.img}} alt={{post.description}}><br>
  <div class="postNotes">
    <p>
      Title: {{post.title}}
    </p>
    <p>
      Medium: {{post.medium}}
    </p>
    <p>
      Notes: {{post.description}}
    </p>
    <button href{{post.img}} download="post.title">Download</button>
  </div>
</div>
