<div class="original-post">
  <img src={{post.img}} alt={{post.description}}><br>
  <div class="postNotes">
    <p>
      Title: {{post.title}}
    </p>
    <p>
      Posted By: {{post.user.userName}}
    </p>
    <p>
      Medium: {{post.medium}}
    </p>
    <p>
      Notes: {{post.description}}
    </p>
    <a href{{post.img}} download="{{post.title}}">Download</a>
  </div>
</div>

<div class="response-detail">
  {{response-detail post=post}}
</div>
