{{new-response  user=user setFileLocation='setFileLocation'}}

{{#if responseForm}}
  <br>
  <label for="title">Title</label> <br>
  {{input type='text' value=title}}

  <label for="medium">Medium</label>
  {{input type='text' value=medium}}

  <label for="description">Description</label> <br>
  {{textarea type='text' value=description}}

  <button {{action 'saveResponse'}}>Save</button>

{{/if}}
