<h3>Collaborations</h3>
{{#each post.responses as |response|}}
<div class="post-info">
	<img class="response-img" src="{{response.img}}">
	<div class="post-notes">
		<p>
			Title: {{response.title}}
		</p>
		<p>
			Posted By: {{response.user.userName}}
		</p>
		<p>
			Medium: {{response.medium}}
		</p>
		<p>
			Notes: {{response.description}}
		</p>
	</div>
</div>
{{/each}}
