<div class="reviews">
  {{#if addNewReview}}
    <form class="newReview">
      <label for="title">Comment Title</label>
      {{input value=title id="title"}} <br>
      <label for="body">Review</label>
      {{textarea value=body id="body"}} <br>
      <button {{action 'saveReview1' post}}>Save Review</button>
    </form>
  {{else}}
  <button {{action 'showReviewForm'}}>Leave a Review</button>
  {{/if}}

  <h3>Comments:</h3>
  <ul>
      {{#each post.comments as |comment|}}
        {{comment.title}}: {{comment.body}}
        <br>
      {{/each}}
  </ul>
  <!-- hard coded comments just used for styling purpose -->
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue border  </p>
  </div>
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue borderhey i'm a review. i review edits and original posts but don't post art.
        i have a blue border  </p>
  </div>
  <!-- end of hard coded comments  -->
</div>
