<div class="reviews">
  {{#if addNewReview}}
    <form class="newReview">
      <label for="body">Review</label>
      {{textarea value=body id="body"}} <br>
      <button {{action 'saveReview1' post}}>Save Review</button>
    </form>
  {{else}}
  <button {{action 'showReviewForm'}}>Leave a Review</button>
  {{/if}}

  <ul>
    {{#each post.comments as |comment|}}
      <div class="comment">
        {{comment.user.userName}}: {{comment.body}}
      </div>
    {{/each}}
  </ul>
</div>
